@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,700,700italic,800,800italic);
body {
    font-family: 'Open Sans', sans-serif;
	text-rendering: optimizelegibility;
}
div#top{
	padding-top:70px;
}
h1{
	
	color:#000;
}
.title-section {
    background-color: #fafafa;
    color: #31708f;
    border-radius: 2px;
    margin-bottom: 15px;
    padding: 5px 15px 15px 15px;
}

.sidebar{
	margin-top: 30px;
  	margin-bottom: 30px;
  	padding-top:    10px;
  	padding-bottom: 10px;
  	text-shadow: 0 1px 0 #fff;
  	background-color: #fafafa;
 	border-radius: 2px;
}

.sidebar.affix {
  position: static;
}
@media (min-width: 992px) {
  .sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 50px;
  }
  .sidebar.affix {
    width: 263px;
}
}